In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
df = pd.read_csv("output.csv")
df.describe().T

,count,mean,std,min,25%,50%,75%,max
station_id,4642.0,24167.425679,231.925704,23723.0,24021.0,24203.0,24421.0,24607.0
entry_id,4642.0,5097.305687,42.959072,5016.0,5061.0,5078.0,5125.0,5246.0
station_id_sensor_value,4642.0,24167.425679,231.925704,23723.0,24021.0,24203.0,24421.0,24607.0

In [3]:
df.shape

(4642, 8)

In [4]:
print(df.isna().mean().sort_values(ascending=False))
print(df.isna().sum().sort_values(ascending=False))

event_time                 0.0
station_id                 0.0
entry_id                   0.0
station_id_sensor_value    0.0
sensor_name                0.0
sensor_short_name          0.0
unit                       0.0
value                      0.0
dtype: float64
event_time                 0
station_id                 0
entry_id                   0
station_id_sensor_value    0
sensor_name                0
sensor_short_name          0
unit                       0
value                      0
dtype: int64

In [ ]:
df = df[df['unit'] == 'km/h']

df = df.reset_index(drop=True)

print(df.shape)

(972, 8)

Check if Speed is a valid number.

In [10]:
df['value'] = pd.to_numeric(df['value'], errors='coerce')

df = df[(df['value'].notna()) & (df['value'] >= 0) & (df['value'] < 150)]

df = df.reset_index(drop=True)

print(df.shape)

(972, 8)

In [ ]:

df = df[df['station_id'] == df['station_id_sensor_value']]

df = df.reset_index(drop=True)

print(df.shape)

(972, 8)